### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#find total players
total_players = len(purchase_data["SN"].unique())
total_players
#create summary table df with total players
total_players_summary = pd.DataFrame({"Total Players":total_players},index=[0])
total_players_summary

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#find unique items
unique_items= len(purchase_data['Item Name'].unique())
unique_items

179

In [4]:
#find average price
average_price=round(purchase_data["Price"].sum()/len(purchase_data["Price"]),2)
average_price

3.05

In [5]:
#find number of purchases
total_purchases=len(purchase_data["Purchase ID"].unique())
total_purchases

780

In [6]:
total_revenue=purchase_data["Price"].sum()
total_revenue

2379.77

In [7]:
purchasing_summary=pd.DataFrame({"Unique Items":unique_items,
                                 "Average Price":average_price,
                                 "Total Purchases":total_purchases,
                                 "Total Revenue":total_revenue},index=[0])
purchasing_summary

   Unique Items  Average Price  Total Purchases  Total Revenue
0           179           3.05              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
#males in df
males = purchase_data.loc[purchase_data["Gender"]=="Male",:]
#unique males in df
male_players_count = len(males["SN"].unique())
male_players_count
#male players % (=count/total unique players)
male_players_percent = str(round(male_players_count/total_players*100,2))+"%"
male_players_percent

'84.03%'

In [9]:
#females in df
females = purchase_data.loc[purchase_data["Gender"]=="Female",:]
#female players count
female_players_count = len(females["SN"].unique())
female_players_count
#female players % (=count/total transactions)
female_players_percent=str(round(female_players_count/total_players*100,2))+"%"
female_players_percent

'14.06%'

In [10]:
#Other/Non-Disclosed in df
others = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",:]
others
#other/non-disclosed count
other_players_count=len(others["SN"].unique())
other_players_count
#other/non-disclosed players % (=count/total transactions)
other_players_percent=str(round(other_players_count/total_players*100,2))+"%"
other_players_percent

'1.91%'

In [11]:
gender_counts=[male_players_count,female_players_count,other_players_count]
gender_percents=[male_players_percent,female_players_percent,other_players_percent]
genders=["Male","Female","Other / Non-Disclosed"]
#gender_counts
#gender_percents
#genders

In [12]:
gender_dem=pd.DataFrame({"Gender":genders,
                                 "Total Count":gender_counts,
                                 "Percentage of Payers":gender_percents})

gender_dem

                  Gender  Total Count Percentage of Payers
0                   Male          484               84.03%
1                 Female           81               14.06%
2  Other / Non-Disclosed           11                1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#split data by gender
by_gender=purchase_data.groupby(["Gender"])
#find purchase count by gender
purchases_by_gender=by_gender["Purchase ID"].count()
purchases_by_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [14]:
#find average price by gender
ave_purchase_price_by_gender=round(by_gender["Price"].mean(),2)
ave_purchase_price_by_gender

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [15]:
#pull out only data by each gender using earlier dfs -males, females, others

#ave purchase total per person - male
ave_purchase_male=round(males["Price"].sum()/male_players_count,2)
ave_purchase_male
#ave purchase total per person - female
ave_purchase_female=round(females["Price"].sum()/female_players_count,2)
ave_purchase_female
#ave purchase total per person - Other / Non-Disclosed
ave_purchase_other=round(others["Price"].sum()/other_players_count,2)
ave_purchase_other

ave_purchase_by_gender=[ave_purchase_female,ave_purchase_male,ave_purchase_other]
ave_purchase_by_gender

[4.47, 4.07, 4.56]

In [16]:
#pull out only data by each gender using earlier dfs -males, females, others

#ave purchase total per person - male
total_purchases_male=males["Price"].sum()
total_purchases_male
#ave purchase total per person - female
total_purchases_female=females["Price"].sum()
total_purchases_female
#ave purchase total per person - Other / Non-Disclosed
total_purchases_other=others["Price"].sum()
total_purchases_other

total_purchases_by_gender=[total_purchases_female,total_purchases_male,total_purchases_other]
total_purchases_by_gender

[361.94, 1967.64, 50.19]

In [17]:
gender_purchasing=pd.DataFrame({"Purchase_Count":purchases_by_gender,
                                 "Average Purchase Price":ave_purchase_price_by_gender,
                                "Total Purchase Value":total_purchases_by_gender})
gender_purchasing

,Purchase_Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.20,361.94
Male,652,3.02,1967.64
Other / Non-Disclosed,15,3.35,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [58]:
#find unique players by age
unique_players=pd.DataFrame(purchase_data.groupby(purchase_data["SN"],as_index=False).mean())
unique_players
unique_players_age=unique_players[["SN","Age"]]
unique_players_age=pd.DataFrame(unique_players_age)
unique_players_age

                SN   Age
0     Adairialis76  16.0
1      Adastirin33  35.0
2           Aeda94  17.0
3           Aela59  21.0
4        Aelaria33  23.0
..             ...   ...
571     Yathecal82  20.0
572     Yathedeu43  22.0
573  Yoishirrala98  17.0
574     Zhisrisu83  10.0
575      Zontibe81  21.0

[576 rows x 2 columns]

In [47]:
#establish_bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [67]:
#find age counts per bin
unique_players_age["Age_Group"]=pd.cut(unique_players_age["Age"], bins, labels=group_names)
unique_players_age_df=pd.DataFrame(unique_players_age["Age_Group"].value_counts())
unique_players_age_df

       Age_Group
20-24        258
15-19        107
25-29         77
30-34         52
35-39         31
10-14         22
<10           17
40+           12

In [71]:
unique_players_age_df["Players_Age_Perc"]=round(unique_players_age_df["Age_Group"]/unique_players_age_df["Age_Group"].sum()*100,2)
unique_players_age_df

       Age_Group  players_age_perc
20-24        258             44.79
15-19        107             18.58
25-29         77             13.37
30-34         52              9.03
35-39         31              5.38
10-14         22              3.82
<10           17              2.95
40+           12              2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame